{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="{% static '/store/img/slider1.jpg' %}" alt="">
            <div class="slide-content-order">
                <h1>Informacion del Pedido # {{ object.pk }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5 mb-5">    
    <div class="col-12 col-lg-5">
        <div class="card">
            <div class="card-body form-order-details">
                <h1>Modificar Pedido #{{ object.pk }}</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-sucess" value="Modificar">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}